:root {

  --bg-color: #EFEAD5;
  --primary-color: #4F544E;
  --secondary-color: #424F30;

}

@font-face {
  font-family: 'EightOne';
  src: url('./fonts/eight_one/Eight\ One.ttf');
}

@font-face {
  font-family: 'Vonique';
  src: url('./fonts/vonique_92/Vonique\ 92_D.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Regular.ttf');
}